.gallery-item {
  display: inline-block;
  margin: 10px;
  max-width: 100%;
  height: auto;
}

.gallery-item img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the maximum height as needed */
}
