/* gameStyle.css */

body {
  background: linear-gradient(135deg, #7b68ee, #af92e1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  animation: backgroundAnimation 20s ease infinite;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.card {
  display: inline-block;
  margin: 10px;
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

label {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9932cc;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#gallery {
  display: inline-block;
  margin: 10px;
  max-width: 100%;
  height: auto;
}

#gallery img,
#gallery video {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the maximum height as needed */
}

/* Additional styles from gameStyle.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.onboarding-container {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
}

.team-card {
  background-color: #555555;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.waiting-container {
  background-color: #222222;
  padding: 20px;
  border-radius: 10px;
}

.waiting-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.continue-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid #ffffff;
  border-top-color: #777777;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

.hidden {
  display: none;
}

.game-container {
  background-color: #444444;
  padding: 20px;
  border-radius: 10px;
}

.timer {
  font-size: 24px;
  margin-bottom: 20px;
}

.location-progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.location-progress .circle {
  width: 30px;
  height: 30px;
  background-color: #666666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

#location-name, #assignment, #tips {
  max-width: 50%;
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #location-name, #assignment, #tips {
    max-width: 80%;
    font-size: 16px;
    margin-bottom: 15px;
  }
}

#uploadButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #777777;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#uploadButton:hover {
  background-color: #999999;
}

#imageInput {
  display: none;
}


.timeline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.timeline-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.timeline-item.active {
  background-color: red;
}
